.pio
.vscode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.test
Modos-de-conexión-WiFi-3.pdf
include/README
lib/README
test/README
code snippets/1. Using Luci Style
src/recortes.txt

code snippets/2. Bootstrap/
